{% extends "base.html" %}

{% block title %}Резюме{% endblock %}

{% block content %}
<div>
    <p>Тут ви ознайомитеся з веброзробником, який готовий до нових викликів,
        цікавих проєктів та оптимізації вашого сайту.
        Маю прагнення до саморозвитку, уважний до деталей та завжди відкритий
        до співпраці. Нижче наведено основну інформацію про мою освіту, навички
        та досвід роботи у сфері ІТ.
    </p>

    <ul>
        <li><a href="#me">Про мене</a></li>
        <li><a href="#graduation">Освіта</a></li>
        <li><a href="#skills">Навички</a></li>
        <li><a href="#technology">Технології</a></li>
        <li><a href="#contact">Контакти</a></li>
        <li><a href="#form">Форма</a></li>
    </ul>

    <section id="me">
        <h3>Про мене</h3>
        <p>Мене звати Денис, я — початківець веброзробник із глибоким інтересом
            до створення адаптивних і сучасних сайтів. Наразі навчаюся у
            Прикарпатському національному університеті (КНУ) на третьому курсі
            за спеціальністю «Інженерія програмного забезпечення».
        </p>
    </section>

    <section id="graduation">
        <h3>Освіта</h3>
        <p>Навчаюся за напрямом «Інженерія програмного забезпечення» в
            Прикарпатському національному університеті імені Василя Стефаника.
            Очікуваний рік завершення — 2027.
        </p>
    </section>

    <section id="skills">
        <h3>Навички</h3>
        <ul>
            <li>Python — Flask, скрипти, парсери.</li>
            <li>HTML — семантика, адаптивність.</li>
            <li>Scss — чиста структура стилів.</li>
            <li>JavaScript — робота з DOM, події.</li>
            <li>PHP — логіка серверу, MySQL.</li>
        </ul>
    </section>

    <section id="technology">
        <h3>Технології</h3>
        <ul>
            <li>Flask, AJAX, REST API</li>
            <li>MySQL, SQLite</li>
            <li>Git, GitHub</li>
        </ul>
    </section>

    <section id="contact">
        <h3>Контакти</h3>
        <a href="{{ url_for('contact') }}">Переглянути мої контакти</a>
    </section>

    <section id="form">
        <h3>Форма для повідомлення</h3>
        <a href="{{ url_for('form') }}">Зв’язатися зі мною</a>
    </section>
</div>
{% endblock %}
