<nav>
    <a href="{{ url_for('main') }}">Головна</a> |
    <a href="{{ url_for('contact') }}">Контакти</a> |
    <a href="{{ url_for('form') }}">Форма</a> |
    <a href="{{ url_for('users.greetings', name='john') }}">Користувач John</a> |
    <a href="{{ url_for('products.list_products') }}">Продукти</a> |

    {% if session.get('user') %}
    <a href="{{ url_for('users.profile') }}">Профіль</a> |
    <a href="{{ url_for('users.logout') }}">Вийти</a>
    {% else %}
    <a href="{{ url_for('users.login') }}">Вхід</a>
    {% endif %}
    <a
            class="nav-link {% if request.endpoint and request.endpoint.startswith('posts.') %}active{% endif %}"
            href="{{ url_for('posts.index') }}"
    >
        Пости
    </a>

</nav>
