<nav>
    <a href="{{ url_for('main') }}">Головна</a> |
    <a href="{{ url_for('contact') }}">Контакти</a> |
    <a href="{{ url_for('form') }}">Форма</a> |
    <a href="{{ url_for('users.greetings', name='john') }}">Користувач John</a> |
    <a href="{{ url_for('products.list_products') }}">Продукти</a> |

    {% if current_user.is_authenticated %}
        <a href="{{ url_for('users.profile') }}">Профіль</a> |
        <a href="{{ url_for('users.users_list') }}">Користувачі</a> |
        <a href="{{ url_for('users.change_password') }}">Зміна пароля</a> |
        <a href="{{ url_for('users.logout') }}">Вихід</a>
    {% else %}
        <a href="{{ url_for('users.register') }}">Реєстрація</a> |
        <a href="{{ url_for('users.login') }}">Вхід</a>
    {% endif %}
</nav>
